/* 1. Top small links (Help, Become a member...) */
.top-link {
    font-size: 11px;
    font-weight: 700; /* bold */
    text-transform: capitalize;
    color: #333;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.top-link:hover {
    text-decoration: underline;
}

/* 2. Navigation Logo */
.navbar-brand {
    font-weight: 900; /* Extra bold */
    letter-spacing: 1px;
}

/* 3. Center main menu links (SHOES, MEN...) */
.nav-custom-link {
    font-size: 14px;
    font-weight: 700; /* bold */
    text-transform: uppercase; /* Force uppercase */
    color: #000 !important;
    letter-spacing: 1px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent; /* Prepare for hover underline effect */
}

/* Show black line at bottom on hover */
.nav-custom-link:hover {
    border-bottom: 2px solid #000;
}

/* 4. Search box styles */
.small-search {
    background-color: #eceff1 !important; /* Light gray background (Adidas-like) */
    height: 32
}